:root {
  --primary-color: #000D21;
  --secondary-color: #EEEFF1;
  --primary-backgrond-color:#0567FE;
  --background-color: #001432;
  --text-color: #F5F6F7;
  --accent-color: #68ED83;
  --white-color:#FFFFFF;
}


.display_none_phone {
display: none;
}


/* Navbar */

.Navbar_icon {
    width: 90px;
    height: 30px;
}

.Navbar {
    padding: 20px 20px;
}

.Navbar_menuicon {
    display: block;
    color: var(--secondary-color);
    width: 50px;
}

/* herosection */

.maincontainer {
    grid-template-columns: 1fr;
    padding: 40px 20px;
    gap: 40px;
}

.maincontainer_first_P {
    font-size: 35px;
    line-height: 120%;
}

.maincontainer_second {
    height: 500px;
}
.maincontainer_logo_images  img {
    width: 41px;
    height: 41px;
}

.maincontainer_logo_secton {
    grid-column:span 1;
    font-size:11px ;
}


/* About-cerdas-section */

.about-cerdas-section {
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px 20px;
    
}
.about-cerdas-section {
    gap: 40px;
    
}
.about-cerdas-section-secondgird {
    height: 632px;
}

 .trading-section-container {
      padding: 40px 20px;
      
 }

  .trading-section-container > p:nth-child(2) {
    font-size: 20px;
    line-height: 120%;
    
 }


 /* trading section */

 .group-contects-script  {
    grid-template-columns: 1fr;
 }

 
  /* Why choose us */
  .whychooseus-container {
    padding: 40px 20px;
    grid-template-columns:  1fr;
    gap: 40px;
  }
  .whychooseus-second {
    height: 689px;
  }


  /* chooseCourse */
 .chooseCourse-container {
            grid-template-columns: 1fr ;
            padding: 40px 20px;
            gap: 40px;
        }
        .chooseCourse-firstgrid div  {
           width: 100%;
        }

        
        .chooseCourse-secondgrid-p {
            font-size: 36px;
        }

        .chooseCourse-secondgrid-step {
            width: 80px;
        }

        /* community  */
        .community-container {
            grid-template-columns: 1fr;
            padding: 40px 20px;
        }
    .community-firstgrid {
        display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    }
.community-firstgrid-p {
    text-align: center;
}
        .community-firstgrid-p {
            font-size: 36px;
        }

         .community-secondgrid {
            flex-direction: column;
            gap: 60px;
            align-items: center;
            justify-content: center;
         }

 /* new oppunity */

.newoppunity-container {
 padding: 0;  
}

.newoppunity-firstgrid {
 width: 100%;
 border-radius: 0px;
}

.width-group-newoppunity {
  width: 100%;
}

.newoppunity-second {
    gap: 20px;
}


.newoppunity-second p:first-child {
   
    font-size: 34px;
    

}

.newoppunity-second p:last-child {
    
    font-size: 11px;
    
}

/* footer */

.footer-firstgird {
    flex-direction: column;
    gap: 20px;
}

.footer-container {
    justify-items: center;
}

.footer-firstgird-div1 {
    justify-content: center;
    align-items: center;
}

.footer-secodgrid {
    flex-direction: column;
    gap: 30px;
}

.footer-secodgrid {
    flex-direction: column;
}

.footer-secodgrid-div1-img {
    width: 80px;
}

.footer-firstgird-div1 p {
text-align: center;
}